footer.container-fuid
  .container.pt-5
    .row  
      .col-md-6.col-sm-12.col-xs-12
        h6.text-uppercase.title-white.montse.mb-3 Acerca de nosotros
        .section-heading-line-left.mb-3
        .v-mar-1
          img.mb-4.mt-2.footer-logo-size(src='./img/footerlogo.svg')
          p Nuestra meta es ayudarte a alcanzar la excelencia mediante el asesoramiento, impulsándote a mejorar tus actividades y gestión diaria.
      .col-sm-12
        hr
        p.text-center.legal &copy; 2018 Green Island Consulting. Todos los derechos reservados.
