.container-fluid.headband.z-top.hide-xs
  .container
    ul.list-inline.v-pad-1
      li.list-inline-item.pad-right-2 Bienvenido a Green Island Consulting
      li.list-inline-item.pad-right-2
        i.fas.fa-phone.pad-right-05.color
        a(href='tel:+1 (869) 469 2829') +1 (869) 469 2829
      li.list-inline-item.pad-right-2
        i.fas.fa-envelope.pad-right-05.color
        a(href='mailto:info@greenislandconsulting.net') info@greenislandconsulting.net
