#jumbo.jumbotron
  .traslucido
    .container.h-100
      .row.align-items-center.h-100
        .col-md-6.offset-md-3.col-sm-8.offset-sm-2.text-center
          img.mb-3.landing-logo-size(src='./img/landing-logo.svg')
          h1.landing-title Ayudamos a mejorar tu empresa.
          p.landing-description Nuestra meta es ayudarte a alcanzar la excelencia mediante el asesoramiento, impulsándote a mejorar tus actividades y gestión diaria.
          a.landing-btn(href="#servicios") descubre cómo
