nav.navbar.navbar-expand-md.sticky-top.bottom-shadow
  .container
    a.navbar-brand(href='#') 
      img.nav-logo-size.mt-1(src='./img/logo.svg')
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navMenu', aria-controls='navMenu', aria-expanded='false', aria-label='Navigation')
      i.fa.fa-bars
    #navMenu.collapse.navbar-collapse
      .navbar-nav.ml-auto.text-uppercase
        a.nav-link-custom(href='#nosotros') Nosotros
        a.nav-link-custom(href='#servicios') Servicios
        a.nav-link-custom(href='#contacto') Contacto
  
